.head-page{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 3rem;
}
.head-page h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 1px;font-weight: 700;font-size: 35px;
}
.head-page p{
    font-size: 19px;
}
.searchbar{
    width: 70%;background-color: aqua;color: rgb(189, 25, 25);padding: 8px 16px;
    font-size: 15px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;border: solid rgb(37, 50, 238) 1px;
margin-left: 15%;margin-right: 15%;transition: ease-in 0.2s;
}
.searchbar:focus{
    border-color: #cee4d5;
    border-radius: 15%;

}

.filters{
    display: flex;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15%;margin-right: 15%;
    padding:12px;
}
.fltrbtn{
    border-radius: 15px;padding: 5px;background-color: rgb(43, 220, 226);transition: all 0.23s ease-in;margin-top: 10px;border: 2px solid rgb(36, 9, 153);
}
.fltrbtn:hover{
    background-color: rgba(43, 190, 216, 0.5);
}
.ann-grid{
    display: grid;
     gap: 16px;

}
.ann-card{
   width: 70%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #23723d;
  overflow: hidden;
  gap: 10px;
  padding: 5px;
  border-radius: 12px;margin-top: 20px;margin-left: 2.5%;
  transition: all 0.2s ease-in;
  margin-left: 15%;margin-right: 15%;
}
.ann-card a{
    text-decoration: none;
}
.ann-card *{
  background-color: #23723d;
    
}
.ann-card:hover{
    transform: translateY(+4px);
    
    border: #cee4d5 2px solid;
}