.head-page{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 3rem;
}
.head-page h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 1px;font-weight: 700;font-size: 35px;
}
.head-page p{
    font-size: 19px;
}
.searchbar{
    width: 100%;background-color: aqua;color: rgb(189, 25, 25);padding: 8px 16px;
    font-size: 15px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;border: solid rgb(37, 50, 238) 1px;
}
.filters{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.fltrbtn{
    border-radius: 15px;padding: 5px;background-color: blueviolet;transition: all 0.23s ease-in;margin-top: 10px;border: 2px solid rgb(36, 9, 153);
}
.fltrbtn:hover{
    background-color: rgb(132, 43, 216,0.5);
}
.ann-grid{
    display: grid;
     gap: 16px;

}
.ann-card{
   width: 95%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: #23723d;
  overflow: hidden;
  gap: 10px;
  padding: 5px;
  border-radius: 12px;margin-top: 20px;margin-left: 2.5%;
  transition: all 0.2s ease-in;
}
.ann-card a{
    text-decoration: none;
}
.ann-card *{
    background-color:#17e45b;
}
.ann-card:hover{
    transform: translateY(+4px);
    background-color: #5cbd7c;
    border: #cee4d5 2px solid;
}
